// .loop($i) when ($i >= 0) {
//   .p-#{counter} {
//     padding: (1px * $i)!important;
//   }
//   .p-t-#{counter} {
//     padding-top: (1px * $i)!important;
//   }
//   .p-r-#{counter} {
//     padding-right: (1px * $i)!important;
//   }
//   .p-b-#{counter} {
//     padding-bottom: (1px * $i)!important;
//   }
//   .p-l-#{counter} {
//     padding-left: (1px * $i)!important;
//   }
//   .m-#{counter} {
//     margin: (1px * $i)!important;
//   }
//   .m-t-#{counter} {
//     margin-top: (1px * $i)!important;
//   }
//   .m-r-#{counter} {
//     margin-right: (1px * $i)!important;
//   }
//   .m-b-#{counter} {
//     margin-bottom: (1px * $i)!important;
//   }
//   .m-l-#{counter} {
//     margin-left: (1px * $i)!important;
//   }
//   .fz-#{counter} {
//     font-size: (1px * $i)!important;
//   }
//   .w-#{counter} {
//     width: (1% * $i)!important;
//   }
//   .h-#{counter} {
//     height: (1% * $i)!important;
//   }
//   .w-px-#{counter} {
//     width: (1px * $i)!important;
//   }
//   .h-px-#{counter} {
//     height: (1px * $i)!important;
//   }
//   .l-s-#{counter} {
//     letter-spacing: (1px * $i)!important;
//   }
//   .l-h-#{counter} {
//     line-height: (1px * $i)!important;
//   }
//   .loop(($i - 1));    // 递归调用自身
// }

// .loop(100);

@for $i from 0 through 50 {
  .p-#{$i} {
    padding: (1px * $i) !important;
  }

  .p-t-#{counter} {
    padding-top: (1px * $i) !important;
  }

  .p-r-#{counter} {
    padding-right: (1px * $i) !important;
  }

  .p-b-#{counter} {
    padding-bottom: (1px * $i) !important;
  }

  .p-l-#{counter} {
    padding-left: (1px * $i) !important;
  }

  .m-#{counter} {
    margin: (1px * $i) !important;
  }

  .m-t-#{counter} {
    margin-top: (1px * $i) !important;
  }

  .m-r-#{counter} {
    margin-right: (1px * $i) !important;
  }

  .m-b-#{counter} {
    margin-bottom: (1px * $i) !important;
  }

  .m-l-#{counter} {
    margin-left: (1px * $i) !important;
  }

  .fz-#{counter} {
    font-size: (1px * $i) !important;
  }

  .w-#{counter} {
    width: (1% * $i) !important;
  }

  .h-#{counter} {
    height: (1% * $i) !important;
  }

  .w-px-#{counter} {
    width: (1px * $i) !important;
  }

  .h-px-#{counter} {
    height: (1px * $i) !important;
  }

  .l-s-#{counter} {
    letter-spacing: (1px * $i) !important;
  }

  .l-h-#{counter} {
    line-height: (1px * $i) !important;
  }
}

.tr {
  text-align: right !important;
}

.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.align-items_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex_1 {
  width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.bd {
  border: 1px solid #e8eaec;
}

.bd-top {
  border-top: 1px solid #e8eaec;
}

.bd-left {
  border-left: 1px solid #e8eaec;
}

.bd-right {
  border-right: 1px solid #e8eaec;
}

.bd-bottom {
  border-bottom: 1px solid #e8eaec;
}

.of-auto {
  overflow: auto !important;
}

.of-hidden {
  overflow: hidden !important;
}

.of-scroll {
  overflow: scroll !important;
}

.of-y-auto {
  overflow-y: auto !important;
}

.of-y-hidden {
  overflow-y: hidden !important;
}

.of-y-scroll {
  overflow-y: scroll !important;
}

.of-x-auto {
  overflow-x: auto !important;
}

.of-x-hidden {
  overflow-x: hidden !important;
}

.of-x-scroll {
  overflow-x: scroll !important;
}